body {
	background-color:#F6F3F3;
}
#signin {
	width:350px;
	margin-left:20px;
}

#signup {
	width:350px;
	display: none;
	margin-left:20px;
}

.error {
	height:30px;
	widht:10px;
	color:red;
}

#lbl {
	margin-top: -20px;
}

#lbl2 {
	margin-top: 10px;
}

#erroreCredErr {
	color:red;
}

#btnSignUp {
	margin-top: -6px;
    margin-left: -10px;
}

#modal{
	display: none;	
}

#jumbo{
	margin-top:20px
}

#divRis {
	margin-top:50px
}

#traduttore {
	
}

#ris {
	border-radius: 15px;
	background-color: white;
}

#logo {
	text-align:center;
}

#logoimg {
	width:350px;
}

#loading {
	position: fixed;
	width: 100%;
	height: 100%; 
	left: 0; 
	top: 0; 
	background: rgba(51,51,51,0.7);
	z-index:10;
	display:none;
	text-align:center
}

#imgLoading {
	position: absolute;
	top: 30%;
	left: 40%;
}

#traduci {
	margin-top:45px;
}

#btnSent {
	margin-top:105px;
}

#btnKey {
	margin-top:10px;
}

#tab-ent {
	margin-top: 8px;
}

#tab-emo {
	margin-top: 8px;
}

#tab-key {
	margin-top: 8px;
}

#toneBar {
	height: 25px
}